<div class="container-fluid">
    <div class="row">
        <div class="col-2 d-flex flex-column position-fixed bg-dark">
            <h2 class="text-light">myWeather</h2>
            <h3 class="text-light">Add city</h3>
            <form action="" id="city-selector">
                <select name="cities" id="cities"></select>
            </form>
        </div>
        <div class="col-10">
        </div>
    </div>
</div>
