<div class="container-fluid">
    <div class="row">
        <div class="col-3 d-flex flex-column position-fixed bg-dark vh-100">

            <h2 class="text-light my-3 mx-2"><u>[myWeather]</u></h2>

            <form class="my-3" action="" id="add-city">
                <p class="text-light lead my-3">Add city</p>

                <div class="input-group">
                    <select class="custom-select" name="new-cities" id="new-cities" required>
                        <option value="" disabled selected>Select a city</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">Add</button>
                    </div>
                </div>

            </form>


            <form class="my-3" id="show-city">
                <p class="text-light lead my-3">Show 5-day forecast</p>
                
                <div class="input-group">
                    <select class="custom-select" name="my-cities" id="my-cities" required></select>
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">Show weather</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="container col-9 offset-3">
            <div class="position-relative p-5" id="canvas-div"></div>
        </div>
    </div>
</div>
